<root>
    <FileGroup Name="survey-all.js">
        <File Path="json2.js" />
        <File Path="jquery-ui-1.7.2.min.js" Minify="false" />
        <File Path="jquery.validate-1.7.min.js" Minify="false" />
        <File Path="Array.prototype.indexOf.js" />
        <File Path="survey.js" />
    </FileGroup>
</root>