<root>
    <FileGroup Name="survey-all.js" Minify="false">
        <File Path="json2.js" />
        <File Path="jquery-ui-1.8.13.js" />
        <File Path="jquery.validate-1.8.1.js" />
        <File Path="Array.prototype.indexOf.js" />
        <File Path="survey.js" />
    </FileGroup>
</root>