<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Engage.Survey.Entities.Properties.Settings.campus_dnn2ConnectionString"
            connectionString="Data Source=KENUAM03;Initial Catalog=campus_dnn2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>