<configuration>
	<nodes configfile="Web.config">
        <!-- Update AssemblyBinding to .NET 3.5 -->
        <node path="/configuration/runtime/ab:assemblyBinding/ab:probing" action="insertAfter" nameSpace="urn:schemas-microsoft-com:asm.v1" nameSpacePrefix="ab">
            <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
                <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
            </dependentAssembly>
        </node>
        <node path="/configuration/runtime/ab:assemblyBinding/ab:probing" action="insertAfter" nameSpace="urn:schemas-microsoft-com:asm.v1" nameSpacePrefix="ab">
            <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
                <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
            </dependentAssembly>
        </node>
    </nodes>
</configuration>
