survey-title{font-weight: bold}
.section-wrap{clear:both;}
	.section-wrap div{padding-top:10px;}
	h3.section-title{}
	.question-wrap{padding:0 0 10px 0;}
		.question{display:block;font-weight:bold;padding:0 0 2px 0;}
			.ee-required{}
		.answer-horizontal,	.answer-vertical, .answer-vertical span{display:block;}
	.error-message{background:url(images/inline-validator-bg.png) no-repeat right;padding:2px 4px;color:#fff !important;font-weight:bold;}
		.error-text{color:#fff !important;font-weight:bold;}
	.submit-area{padding-top:20px;}
	.limit-reached{background:url(images/inline-validator-bg.png) no-repeat left;width:180px;color:#fff;font-weight:bold;}

/*============ Engage Evaluation ============*/
#engage-evaluation{}
    fieldset.ee-create-questions, fieldset.ee-preview-area{display:none;}
    fieldset.ee-create-new, fieldset.ee-create-questions, fieldset.ee-preview-area{border:none;padding:0 0 15px 0;margin:0;}
        #engage-evaluation legend{padding:0 0 5px 0;}
        #engage-evaluation legend.Head{color:#6f4719;font-family:"Lucida Grande", Lucida Sans Unicode, Helvetica, Arial, Sans-Serif;font-size:20px;letter-spacing:-1px;}
        #engage-evaluation div{clear:both;overflow:hidden;padding-bottom:8px;}
        #engage-evaluation .ee-label{display:block;float:left;text-align:right;width:100px;font-weight:bold;padding-right:10px;padding-top:5px;}
        #engage-evaluation .ee-input{display:block;float:left;background:#ebf5fc;padding:3px 5px;position:relative;}
            #engage-evaluation input.NormalTextBox, #engage-evaluation textarea.NormalTextBox, #engage-evaluation select.NormalTextBox{border:1px #cbcbcb solid;width:300px;padding:8px;}
			label.error{display:block;position:absolute;top:10%;left:310px;padding:5px 20px;background: url(images/validator-bg.gif) left no-repeat;color:#ebc6c6;min-width:140px;font-weight:bold;}
        #engage-evaluation a.ee-edit, #engage-evaluation a.ee-copy, #engage-evaluation a.ee-delete{color:#007b00;padding:4px;text-decoration:underline;font-weight:bold;}
        #engage-evaluation a.ee-edit{color:#0063dd;padding:0;}
        #engage-evaluation a.ee-delete{color:#dd001a;padding:0;}
            #engage-evaluation a.ee-edit:hover, #engage-evaluation a.ee-copy:hover, #engage-evaluation a.ee-delete:hover{text-decoration:none;}

            .ee-title, .ee-question{border-top:1px #ccc solid;padding-top:15px;}
            .ee-description textarea.NormalTextBox{height:100px;}
            .ee-input-pre{display:block;width:300px;}
        ul.ee-action-btns, ul.ee-pr-action-links{clear:both;padding:10px 15px 15px 110px;list-style:none;margin:0;}
            ul.ee-action-btns li{padding:0;list-style:none;margin:0;}
                ul.ee-action-btns li.primary-btn a, ul.answer-inputs li.primary-btn a{color:#df3f00;font-weight:bold;font-size:16px;text-shadow:1px 1px 1px #fff;display:block;padding:3px 15px;}
                ul.ee-action-btns li.primary-btn a:hover, ul.answer-inputs li.primary-btn a:hover{text-decoration:none;}
            ul.ee-action-btns li.primary-btn, ul.answer-inputs li.primary-btn{background: url(images/btn-bg.gif) repeat-x bottom;border:1px #f17b4d solid;display:block;float:left;}
            ul.ee-action-btns li.primary-btn:hover, ul.answer-inputs li.primary-btn:hover{text-decoration:none;background: url(images/btn-bg-on.gif) repeat-x bottom;}
                ul.ee-action-btns li.secondary-btn a{line-height:34px;padding-left:10px;color:#9e7261;font-weight:bold;font-size:16px;text-decoration:underline;}
                ul.ee-action-btns li.secondary-btn a:hover{color:#000;text-decoration:none;}
            ul.ee-action-btns li.disabled, ul.ee-action-btns li.disabled:hover{border:1px #b2b2b2 solid;background: url(images/btn-bg.gif) repeat-x bottom;}
                ul.ee-action-btns li.disabled a{color:#b6b6b6;}
		.survey-listing ul{padding:15px 0 0 0;}
        .ee-create-questions{}
            .ee-question .ee-label{}
            #engage-evaluation .ee-question a.ee-edit{display:block;cursor:pointer;margin-left:110px;padding-left:20px !important;clear:both;background: url(images/help-icn.gif) no-repeat left}
                #section-title-input a.ee-delete{padding:5px 0 0 10px;display:block;float:left;}
        .ee-define-answers{}
            #engage-evaluation .define-answer{float:left;display:block;clear:none;}
            .define-answer .ee-input{margin-bottom:10px;}
            .ee-answer-inputs{background:#eee;width:420px;border-bottom:1px #c4cbb2 solid;border-right:1px #cfcfcf solid;clear:both;overflow:hidden;}
				ul.answer-inputs{margin:10px 0 0 0;padding:10px;list-style:none;clear:both;overflow:hidden;}
					ul.answer-inputs li{list-style:none;padding-left:10px;background: url(images/drag-icn.gif) no-repeat right 25px;}
						ul.answer-inputs li.ui-state-highlight{background:none;}
					#engage-evaluation .answer-inputs input.NormalTextBox, #engage-evaluation .answer-inputs textarea.NormalTextBox, #engage-evaluation .answer-inputs select.NormalTextBox{border:1px #cbcbcb solid;width:320px;padding:5px;}
						#engage-evaluation .ee-answer-inputs .answer-inputs input.NormalTextBox{width:260px;}
					#engage-evaluation .ee-answer-inputs ul.ee-action-btns{padding:0 10px 15px 20px;overflow:hidden}
					#engage-evaluation .ee-answer-inputs li.primary-btn a{font-size:12px;}
					#engage-evaluation ul.answer-inputs a.ee-delete{padding-left:10px;}
						.ai-label{font-weight:bold;}
					#ShortTextAnswer, #LongTextAnswer{padding-left:10px;}
			ul#ee-previews{display:block;margin:0;padding:0;list-style:none;overflow:hidden;}
				ul#ee-previews li.ee-preview{cursor:pointer;padding:10px 15px;margin:10px;display:block;overflow:hidden;list-style:none;background:#eee url(images/drag-icn.gif) no-repeat 15px 15px;border-right:1px #ccc solid;border-bottom:1px #ccc solid;}
					ul#ee-previews li.ee-preview:hover{background:#FEFFEF url(images/drag-icn.gif) no-repeat 15px 15px;border-right:1px #b9bd77 solid;border-bottom:1px #b9bd77 solid;}
			.ui-sortable-helper{background:#feffe8;border-right:1px #b9bd77 solid;border-bottom:1px #b9bd77 solid;overflow:hidden;padding:10px 15px !important;cursor:pointer}
			li.ui-state-highlight {height:100px;background:#f1f1f1;list-style:none;}
			ul.ee-pr-action-links{padding:0 0 10px 0;text-align:right;border-bottom:1px #ccc dotted;margin-bottom:10px;}
				ul.ee-pr-action-links li{display:inline;}
			#engage-evaluation .ee-preview .ee-label{padding-top:0;}
			.pv-question{display:block;float:left;}
			.pv-answer{clear:both;padding:5px 0 0 0;}
			#engage-evaluation hr{border:none;border-top:1px #ccc solid;}
/*------ Survey Listing ------*/
.survey-listing{}
	.survey-listing h3{color:#000;font-size:18px;margin-bottom:0;}
		#survey-filters{clear:both;overflow:hidden;}
		#survey-filters table{float:right;}
	.survey-listing td{padding:5px 10px;}
	ul.sl-repeater{margin:0;padding:0;border-top:1px solid #D4DFE1;}
		ul.sl-repeater li{list-style:none;padding:10px;margin:0;display:block;clear:both;overflow:hidden;}
		ul.sl-repeater li span{display:block;width:350px;float:left;}
		ul.sl-repeater li a{display:block;float:left;padding:2px 15px;text-transform:capitalize;font-weight:bold;margin:0 3px;border-color:#fff #c8d6e1 #c8d6e1 #fff;border-style:solid;border-width:1px;}
			ul.sl-repeater li.sl-item a:hover{background:#fff;}
			ul.sl-repeater li.sl-alt-item a:hover{background:#F2F6F9;}
		ul.sl-repeater li.sl-item, ul.sl-repeater li.sl-alt-item{background:#F2F6F9;border:1px solid #D4DFE1;border-top:none;}
			ul.sl-repeater li.sl-alt-item{background:#fff;}

/*============ Global Navigation ============*/
ul.em-global-nav{clear:both;overflow:hidden;background:#fbf1ed;border-right:1px #e4bbab solid;border-bottom:1px #e4bbab solid;padding:10px 15px;margin:0 0 15px 0;}
	ul.em-global-nav li{display:block;float:left;padding:5px 25px 5px 0;}
		ul.em-global-nav li a{padding-left:25px;color:#df3f00;text-decoration:underline;font-weight:bold;font-size:14px;}
		ul.em-global-nav li a:hover{text-decoration:none;color:#000;}
	ul.em-global-nav li.egn-home{background: url(images/em-home-icn.gif) left no-repeat;}
	ul.em-global-nav li.egn-add-new{background: url(images/em-add-icn.gif) left no-repeat;}
	ul.em-global-nav li.egn-manage{background: url(images/em-manage-icn.gif) left no-repeat;}
	ul.em-global-nav li.egn-settings{background: url(images/em-settings-icn.gif) left no-repeat;}