survey-title{font-weight: bold}
.section-wrap{clear:both;}
	.section-wrap div{padding-top:10px;}
	h3.section-title{}
	.question-wrap{padding:0 0 10px 0;}
		.question{display:block;font-weight:bold;padding:0 0 2px 0;}
			.required{color:#f00;}
		.answer-horizontal,	.answer-vertical, .answer-vertical span{display:block;}
	.error-message{background:url(images/inline-validator-bg.png) no-repeat right;padding:2px 4px;color:#fff !important;font-weight:bold;}
		.error-text{color:#fff !important;font-weight:bold;}
	.submit-area{padding-top:20px;}
	.limit-reached{background:url(images/inline-validator-bg.png) no-repeat left;width:180px;color:#fff;font-weight:bold;}
	