<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WebFormsMvp" publicKeyToken="537F18701145DFF0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2011.1.519.35" newVersion="2011.1.519.35"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
